<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.aquarius.cicada.loader" name="ExtensionLoader" schema="schema/org.aquarius.cicada.loader.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.aquarius.cicada.workbench.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.aquarius.cicada.workbench.BrowserPerspective"
            fixed="false"
            icon="icons/browser.png"
            id="org.aquarius.cicada.workbench.browserPerspective"
            name="%BrowserLayout">
      </perspective>
      <perspective
            class="org.aquarius.cicada.workbench.TablePerspective"
            icon="icons/table.png"
            id="org.aquarius.cicada.workbench.tablePerspective"
            name="%TableLayout">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Actions"
            id="org.aquarius.cicada.workbench.action">
      </category>
      <command
            categoryId="org.aquarius.cicada.workbench.action"
            id="org.aquarius.cicada.workbench.action.showBrowser"
            name="ShowBrowser">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.action"
            id="org.aquarius.cicada.workbench.action.loadSite"
            name="Load Site">
      </command>
      <command
            id="org.aquarius.cicada.workbench.action.editor.reloadBrowser"
            name="Reload Browser">
      </command>
      <command
            id="org.aquarius.cicada.workbench.action.compactDatabase"
            name="Compact Database">
      </command>
      <command
            id="org.aquarius.cicada.workbench.action.editor.clearCache"
            name="Clear Cache">
      </command>
      <command
            id="org.aquarius.cicada.workbench.action.help"
            name="Help">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.action"
            description="Show Browser"
            id="CMD_SHOW_BROWSER"
            name="Show Browser">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.action"
            description="Parse Movie"
            id="org.aquarius.cicada.workbench.action.parseMovie"
            name="Parse Movie">
      </command>
      <category
            id="org.aquarius.cicada.workbench.editor"
            name="Editor">
      </category>
      <command
            categoryId="org.aquarius.cicada.workbench.action"
            description="Refresh Site"
            id="org.aquarius.cicada.workbench.action.refreshSite"
            name="Refresh Site">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.editor"
            description="Remove Duplicated Movies"
            id="org.aquarius.cicada.workbench.action.editor.removeDuplicatedMovies"
            name="Remove Duplicated Movies">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.editor"
            id="org.aquarius.cicada.workbench.action.editor.findDuplicatedMovies"
            name="Find Duplicated Movies">
      </command>
      <command
            id="org.aquarius.cicada.workbench.action.editor.showImage"
            name="Show Image">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.editor"
            id="org.aquarius.cicada.workbench.action.editor.refreshMovie"
            name="Refresh Movie">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.editor"
            id="org.aquarius.cicada.workbench.action.editor.refreshSite"
            name="Refresh Site">
      </command>
      <command
            id="org.aquarius.cicada.workbench.action.editor.download"
            name="Download">
      </command>
      <command
            id="org.aquarius.cicada.workbench.action.editor.playMovie"
            name="Play Movie">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.editor"
            id="org.aquarius.cicada.workbench.action.editor.openSiteUrl"
            name="Open Site Url">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.editor"
            id="org.aquarius.cicada.workbench.action.editor.openMovieUrl"
            name="Open Movie Url">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.editor"
            id="org.aquarius.cicada.workbench.action.editor.delete"
            name="Delete Movie">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.editor"
            id="org.aquarius.cicada.workbench.action.editor.hotReload"
            name="Hot Reload">
      </command>
      <command
            id="org.aquarius.cicada.workbench.action.editor.lock"
            name="Lock Editor">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.editor"
            id="org.aquarius.cicada.workbench.action.editor.updateState"
            name="Update State">
      </command>
      <category
            id="org.aquarius.cicada.workbench.siteConfig"
            name="SiteConfig">
      </category>
      <command
            categoryId="org.aquarius.cicada.workbench.siteConfig"
            description="Create Site Config"
            id="org.aquarius.cicada.workbench.action.createSiteConfig"
            name="Create Site Config">
      </command>
      <command
            categoryId="org.aquarius.cicada.workbench.siteConfig"
            description="Edit Site Config"
            id="org.aquarius.cicada.workbench.action.editSiteConfig"
            name="Edit Site Config">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.aquarius.cicada.workbench.application"
            name="cicada">
         <property
               name="aboutText"
               value="Cicada Movie Repository by Aquarius">
         </property>
         <property
               name="windowImages"
               value="icons/cicada.png,cicada.png">
         </property>
         <property
               name="aboutImage"
               value="cicada.png">
         </property>
         <property
               name="appName"
               value="cicada">
         </property>
         <property
               name="startupProgressRect"
               value="8,196,240,16">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.aquarius.cicada.workbench.editor.SiteMultiPageEditor"
            contributorClass="org.aquarius.cicada.workbench.editor.SiteEditorActionBarContributor"
            default="true"
            icon="icons/movie.png"
            id="org.aquarius.cicada.workbench.editor.site"
            name="Site">
         <contentTypeBinding
               contentTypeId="org.aquarius.cicada.workbench.editor.site">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.aquarius.cicada.workbench.config.editor.SiteConfigEditor"
            contributorClass="org.aquarius.cicada.workbench.config.editor.SiteConfigEditorActionBarContributor"
            default="true"
            icon="icons/parser.png"
            id="org.aquarius.cicada.workbench.config.editor.siteConfig"
            name="Site Config">
      </editor>
      <editor
            class="org.aquarius.cicada.workbench.editor.SiteMultiPageEditor"
            contributorClass="org.aquarius.cicada.workbench.editor.SearchResultEditorActionBarContributor"
            default="false"
            icon="icons/search.png"
            id="org.aquarius.cicada.workbench.editor.search"
            name="Search Result">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.internal.progress.ProgressView"
            id="org.eclipse.ui.views.ProgressView"
            name="%Progress"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.aquarius.cicada.workbench.browserPerspective">
         <view
               closeable="true"
               id="org.eclipse.ui.views.ContentOutline"
               relative="org.eclipse.ui.editorss"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="right"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <view
               closeable="true"
               id="org.aquarius.downloader.ui.view.DownloadView"
               minimized="false"
               moveable="true"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.aquarius.downloader.ui.view.DownloadView">
         </viewShortcut>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.aquarius.downloader.ui.view.DownloadView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.ui.views.ProgressView">
         </viewShortcut>
         <view
               closeable="true"
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.aquarius.downloader.ui.view.DownloadView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
         <view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.aquarius.downloader.ui.view.DownloadView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.ui.views.PropertySheet">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.aquarius.cicada.workbench.tablePerspective">
         <view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.ui.views.PropertySheet">
         </viewShortcut>
         <view
               closeable="false"
               id="org.aquarius.downloader.ui.view.DownloadView"
               minimized="false"
               moveable="true"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.aquarius.downloader.ui.view.DownloadView">
         </viewShortcut>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.aquarius.downloader.ui.view.DownloadView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.ui.views.ProgressView">
         </viewShortcut>
         <view
               closeable="true"
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.aquarius.downloader.ui.view.DownloadView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.aquarius.cicada.workbench.page.MovieConfigurationPreferencePage"
            id="org.aquarius.cicada.workbench.movie"
            name="%Movie">
      </page>
      <page
            class="org.aquarius.cicada.workbench.page.WorkbenchConfigurationPreferencePage"
            id="org.aquarius.cicada.workbench.page.workbench"
            name="%UserInterface">
      </page>
      <page
            class="org.aquarius.cicada.workbench.page.SitePreferencePage"
            id="org.aquarius.cicada.workbench.page.site"
            name="%Site">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.aquarius.cicada.workbench.editor.site"
            name="Site"
            priority="normal">
      </content-type>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.aquarius.cicada.workbench.intro.UserIntroPart"
            icon="icons/cicada.png"
            id="org.aquarius.cicada.workbench.intro"
            label="%Intro">
      </intro>
      <introProductBinding
            introId="org.aquarius.cicada.workbench.intro"
            productId="org.aquarius.cicada.workbench.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.aquarius.cicada.workbench"
            name="Cicada">
      </product>
   </extension>
  

</plugin>
