<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.aquarius.cicada.workbench.extension.editor.SiteNatTableEditor"
            id="org.aquarius.cicada.workbench.extension.editor.SiteNatTableEditor"
            name="%TableViewer">
         <contentTypeBinding
               contentTypeId="org.aquarius.cicada.workbench.editor.site">
         </contentTypeBinding>
      </editor>
   </extension>

</plugin>
